.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    background-color: #f0f0f0;
    margin-top: 60px;
}
  
.about-text {
    flex: 1;
}
  
.about-title {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2.5rem;
}
  
.welcome-text {
    font-size: 2rem;
    margin-bottom: 1rem;
}
  
.about-content {
    color: #666;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    align-items: center;
    width: 85%;
    text-align: justify;
}
  
.stats-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
  
.stat-item {
    text-align: center;
    flex: 1;
    margin: 0 1rem;
    background-color: rgb(207, 232, 254);
    padding: 0.8rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}
  
.stat-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 0.5rem;
}
  
.stat-title {
    font-weight: bold;
    color: #333;
}
  
.image-section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-left: 120px;
    margin-right: -31px;
    margin-top: 10px; 
}
  
.supermarket-image {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
  
.image-1 {
    grid-row: span 2;
    height: 180px;
    width: 200px;
    margin-left: 125px;
    margin-top: 100px; 
}
  
.image-2 {
    grid-row: span 1;
    height: 285px;
    width: 290px;
    margin-right: 120px;
    margin-top: 100px;
}
  
.image-3 {
    grid-row: span 1;
    height: 145px;
    width: 230px;
    margin-bottom: 50px; 
}
  
.image-4 {
    grid-row: span 2;
    height: 260px;
    width: 280px;
    margin-top: -305px; 
    margin-left: 45px;
}