.home-i1{
    margin-top: 100px;
}

.book-cards1 {
  display: flex;
  flex-wrap: wrap;
  gap: 35px; /* Adjust spacing between cards */
  justify-content: center; 
}

.book-card-container1 {
  flex: 1 1 200px; /* Adjust the size of each card */
  max-width: 200px; /* Ensure cards don’t exceed a certain width */
  

}

.book-card1 {
  margin: 0; /* Remove margin around the card */
  text-align: center;
  transition: transform 0.3s;
  border: 1px solid rgb(148, 148, 216);
 
  padding: 20px;
  box-sizing: border-box;
  width: 100%; /* Make the card take up full width of its container */
  height: 300px; /* Fixed height for consistent card size */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card1 img {
  width: 100%;
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  object-position: 0%;
  margin-bottom: 10px;
}

.book-card1 p {
  margin: 5px 0;
  font-size: 14px;
}

.book-rating1 {
  margin: 1px 0;
}

.book-card1 p.book-title1 {
  color: black;
}

.book-card1 p.book-author1 {
  color: rgb(213, 63, 188);
}

.book-card1 p.book-amount1 {
  color: #347134;
  font-weight: bold;
}

.book-card1:hover {
  transform: scale(1.05);
}

.book-card1:hover img {
  transform: scale(1.1);
  background-color: rgba(242, 120, 193, 0.449);
}

.go-button1 {
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
  padding: 10px 0;
  background-color: #347134;
  border-radius: 50px;
  width: 100px;
  text-align: center;
  height: 30px;
  line-height: 10px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
 margin-left: 28px;
}

.go-button1:hover {
  background-color: #5cb85c;
}

.clear-filter-button1 {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-filter-button1:hover {
  background-color: #c9302c;
}

