.categories1 {
  /* padding: 20px; */
}

.category-section {
  margin-bottom: 7%;  
}
.category-section h2 {
  color: green;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 40px;
}
.cards1 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 70px;
}

.category-card {
  width: 24%;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  height: 50vh;
  margin-right: 110px;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 2px 2px 10px #65B741;
}

.category-card-img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  cursor: pointer; /* Add this to indicate that the image is clickable */
  position: relative;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  box-shadow: 0 0 10px #000;
}

.overlay button {
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.category-card:hover .overlay {
  opacity: 1;
}

.category-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.category-card-title {
  margin-top: 2px;
}
.category-card-text {
  font-size: 1rem;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}
