
.payment-page-container {
  position: relative; /* Required for ::before positioning */
  padding: 20px; /* Add some padding to avoid content touching the edges */
  text-align: left;
}
.payment-form.close-button {
  position: absolute;
  margin-left: 200px;
  cursor: pointer;
  font-size: 30px;
  color: #010101; 
}
.payment-page-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/images/log1.jpg'); /* Path to your background image */
  background-size: cover; /* Ensure the background image covers the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  filter: blur(4px); /* Adjust the blur value as needed */
  z-index: -1; /* Ensure the blurred image stays behind the content */
}

.payment-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  /* background-image: url('../assets/images/log1.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;  */
}

.payment-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.payment-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; /* Add gap between the two options */
}

.payment-options label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  white-space: nowrap; /* Prevent text from wrapping */
}

.payment-options .icon {
  font-size: 1.5rem;
  margin-right: 10px;
  margin-top: -10px;
}

.card-details .input-group {
  margin-bottom: 15px;
}

.card-details .input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #555;
}

.card-details input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card-details input::placeholder {
  color: #aaa;
}

.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #218838;
}

.qr-image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  margin-bottom: 30px;
}

.scan-qr p {
  text-align: center;
}
