.home-i {
  padding: 20px;
  /* background-color: #f0f0f0; */
  margin-top: 60px;
}

.recommended h2 {
  font-size: 40px;
}

.recommended {
  margin-bottom: 40px;
}

.book-card-container {
  display: flex;
  justify-content: center;
  padding: 0 10px; /* Adjust spacing between cards */
}

.book-card {
  border: 1px solid rgb(148, 148, 216);
  margin-top: 20px;
  position: relative;
  text-align: center;
  transition: transform 0.3s;
  /* border: 2px solid black; */
  padding: 20px;
  
  width: 200px;
  height: 320px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card img {
  width: 110%;
  height: 100px; 
  transition: transform 0.3s;
  margin-bottom: 10px;
}

.book-card p {
  margin: 5px 0;
  font-size: 14px;
}

.book-rating {
  margin: 1px 0;
}

.book-card p.book-title {
  color: black;
}

.book-card p.book-author {
  color: rgb(213, 63, 188);
}

.book-card p.book-amount {
  color: #347134;
  font-weight: bold;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card:hover img {
  transform: scale(1.1);
  background-color: rgba(242, 120, 193, 0.449);
}

.go-button {
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  padding: 10px 0;
  background-color: #347134;
  border-radius: 50px;
  width: 100px;
  text-align: center;
  height: 30px;
  line-height: 10px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  margin-left: 28px;
}

.go-button:hover {
  background-color: #5cb85c;
}

.clear-filter-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-filter-button:hover {
  background-color: #c9302c;
}
.categories
{
  background-color: #f0f0f0;
  margin-top: 30px;
}
.categories h2 {
  font-size: 40px;
  padding-bottom: 10px;
}

.genre-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.genre-card {
  overflow: hidden;
  position: relative;
  width: calc(25% - 30px);
  border: 2px solid black;
  height: 150px; /* Fixed height for genre cards */
  cursor: pointer;
}

.genre-card img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.genre-card:hover img {
  transform: scale(1.1);
}

.genre-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px 10px;
  border-radius: 5px;
}

.slick-slide {
  display: flex;
  justify-content: center;
}
