.signup-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 100px;
    height: 77vh;
    box-shadow: 0 0 10px rgba(75, 183, 69, 0.1);
  }
  
  .signup-form .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
  
  .signup-form .form-content {
    width: 60%;
  }
  
  .signup-form .form-image {
    width: 35%;
    text-align: center;
  }
  
  .signup-form .form-image img {
    width: 400px;
    margin-left: -130px;
    height: 78vh;
    border-radius: 5px;
    top: 0;
  }
  
  .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-form form div {
    margin-bottom: 15px;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signup-form input {
    width: 75%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-form button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 110px;
    transition: background-color 0.3s ease;
  }
  
  .signup-form button:hover {
    background-color: #218838;
  }
  
  .signup-form .login-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -90px;
  }
  
  .signup-form .login-link p {
    margin-right: 10px;
    font-size: 14px;
  }
  
  .signup-form .login-link a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-form .login-link a:hover {
    text-decoration: underline;
  }
  